<div class="composer-details">
  <div class="details">
    <h1>Mozart</h1>
    <p><span class="bold">Period:</span> classical</p>
    <span class="bold">Description:</span>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea error
      blanditiis nihil, aut ab sequi at nulla incidunt harum, assumenda
      consequuntur eius quidem rerum repellat dolorum impedit aliquam maxime
      quo!
    </p>
  </div>
  <div class="composer-parts">
    <h1>here comes the parts</h1>
  </div>
</div>
