.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 35%;
  }
  span {
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    width: 60%;
    margin-left: 5%;
  }
}
