@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #2f303a;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

.container {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.button {
  border: none;
  background-color: #6c63ff;
  padding: 1.5rem;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in background-color;
  &:hover {
    background-color: lighten(#6c63ff, 2%);
  }
}
